body {
    background-color: rgba(68, 58, 58, 0.512);
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 5em; /* Espacio superior para evitar solapamiento con el navbar */
  }
  
  .logoImg {
    width: 3rem;
    height: auto;
    margin-right: 10px;
  }
  
  .logoPrincipal {
    width: 15rem;
    height: auto;
    margin-right: 10px;
    margin-top: 2em;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 2em;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
  }
  
  select, button, input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #ec6c1c;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f03810;
  }
  
  .btn0km {
    background-color: #858b83;
    color: black;
    cursor: pointer;
  }
  
  .btn0km:hover {
    background-color: rgb(51, 56, 51);
  }
  
  .centrar {
    text-align: center;
  }
  